version: '3.0'

services:
  db:
    image: postgres:15
    container_name: db-store
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 10s
      retries: 5
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  frontend:
    build:
      context: ./frontend
    container_name: frontend-store
    ports:
      - "5173:80"
    depends_on:
      - app 
    restart: always
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    volumes:
      - /etc/nginx/sites-available/lascovo.ru:/etc/nginx/conf.d/lascovo.ru.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./static:/var/www/static
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app
    networks:
      - app-network

  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: app-store
    environment:
      - DB_NAME=postgres
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASS=postgres

      - SMTP_PASSWORD=yemiewyefyxruwwj
      - SMTP_USER=maga2007.magomedov@yandex.ru
      - SMTP_PORT=587
      - SMTP_HOST=smtp.yandex.ru

      - SECRET_KEY=your-secret-key-change-in-production-4roads-2025
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=30
      - REFRESH_TOKEN_EXPIRE_DAYS=3

      - ADMIN_CHAT_ID=-1003670057573
      - BOT_TOKEN=7792052665:AAH2JOi1_cduXPhqjXY6hbMLBmCoWzb0aew

      - APP_NAME=lascovo-api
      - DEBUG=true
      - STATIC_URL=http://localhost:8000/static
      - CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,https://www.lascovo.ru,https://lascovo.ru
      - SITEMAP_PASSWORD=m_8jMpDsZ09yF1AphJnnEOg_zW0UOe4KXM4cvr_BkvY
      
      - MAX_IMAGE_SIZE_MB=10
      - WEBP_QUALITY=85
    depends_on:
      db: 
        condition: service_healthy
    networks:
      - app-network
    ports:
      - "8000:8000"
    volumes:
      - ./static:/app/static
    command: >
      sh -c "alembic upgrade head &&
             uvicorn app.main:app --host 0.0.0.0 --port 8000"

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: